@import "bootstrap-sprockets";
@import "bootstrap";

tr{
  border-width: 1px;
  border-color: black;
}
td, th{
  text-align: center;
}
th{
  background-color: #555;
  color: white;
}
table, tr, td, th, tbody, thead, tfoot{
  border-bottom: solid;
  page-break-inside: avoid !important;
}
  