<h3 align="center">
  Reporte general de publicaciones de grupos de investigación
</h3>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Tipo de publicación</th>
  </tr>

  <tbody>
    <% @report_by_rg.each do |log| %>
      <tr>
        <td><%= log.id %></td>
        <td><%= log.name %></td>
        <td><%= log.type_pub %></td>
      </tr>
    <%end%>
  </tbody>
</table>
