<h3 align="center">
  Reporte de cantidad de publicaciones por grupos de investigación
</h3>
<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Cantidad de publicaciones</th>
    <th>Porcentaje de participación</th>
  </tr>

  <tbody>
    <% @data["research_groups"].each do |research_group| %>
      <% num_publications = "#{research_group.pubs_count}" %>
      <% percentage = (Integer(num_publications) * 100 / @data["total_publications"]) %>
      <tr>
        <td><%= research_group.id %></td>
        <td><%= research_group.name %></td>
        <td><%= num_publications %></td>
        <td><%= "#{percentage} %"%></td>
      </tr>
    <%end%>
  </tbody>
</table>
