<h3 align="center">
  Reporte de cantidad de publicaciones por grupos de investigación
</h3>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Cantidad de publicaciones</th>
    <th>Porcentaje de participación</th>
  </tr>

  <tbody>
    <% @reports_rgs.each do |post| %>
      <% num_p_by_rg = Publication.num_publications_by_rg(post.id)%>
      <% perc = (num_p_by_rg * 100 / Publication.all.count) %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.name %></td>
        <td><%= num_p_by_rg %></td>
        <td><%= "#{perc}%" %></td>
      </tr>
    <%end%>
  </tbody>
</table>
